body {
  color: #171717;
  display: flex;
  flex-direction: column;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

button.primary {
  background: none;
  background: #0353e9;
  background-position: right 16px center;
  background-repeat: no-repeat;
  background-size: 20px;
  border: none;
  color: white;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  height: 47px;
  line-height: 47px;
  margin: 0;
  outline: none;
  padding: 0 16px 0 16px;
}

button.add {
  background-image: url( /img/add.svg );
  padding-right: 52px;
}

button.add.person {
  background-image: url( /img/person.svg );
}

button.add.people {
  background-image: url( /img/people.svg );
}

h1 {
  color: #171717;
  font-family: 'IBM Plex Sans', sans-serif;
  font-size: 14px;
  font-weight: 600;
  height: 47px;
  line-height: 48px;
  margin: 0;
  padding: 0 0 0 8px;
}

header {
  background: #171717;
  border-bottom: 1px solid #3d3d3d;  
  display: flex;
  flex-direction: row;
  height: 47px;
}

header button {
  background: none;
  background-image: url( /img/menu.svg );
  background-position: center;
  background-repeat: no-repeat;
  background-size: 20px;
  border: none;
  height: 47px;
  margin: 0;
  outline: none;
  padding: 0;
  width: 47px;
}

header p {
  color: white;
  line-height: 48px;
  margin: 0;
  padding: 0 0 0 8px;
}

header p span {
  font-weight: 600;
}

#advocates {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
}

#advocates div.team {
  background: #f3f3f3;
  border-right: solid 1px #bebebe;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  width: 300px;
}

#advocates div.team div.header {
  background: #dcdcdc;
  border-bottom: solid 1px #bebebe;  
  display: flex;
  flex-direction: row;
}

#advocates cv-datatable {
  flex-grow: 1;
}

#advocates div.header a-checkbox {
  height: 47px;
  width: 40px;
}

#advocates div.header a-checkbox:hover {
  background-color: #cacaca;
}

#advocates div.header h1 {
  flex-grow: 1;
}

#advocates div.header h1:hover {
  background: #cacaca;
}

#advocates div.team div.toolbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#portal {
  background: white;
  display: flex;
  flex-grow: 1;
}
